.gobal-prod {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 16px;
}

.btn-photo {
    background: none;
    border: none;
    cursor: pointer;
}

.img-travel {
    height: 86px;
    width: 86px;
}

.img-house {
    height: 69px;
    width: 74px;
}
.img-dollar {
    height: 69px;
    width: 69px;
}
