.result {
    border: 1px solid #e9eef2;
    border-radius: 8px;
    margin-bottom: 32px;
}

.p-result {
    background-color: #f4f8fa;
    padding: 24px 32px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #1c1e1f;
}

.p-result span {
    font-weight: 700;
}

.result-headline {
    padding: 24px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result-headline h2 {
    font-weight: 400;
    font-size: 20px;
    color: #1e2a32;
}

.result-headline span {
    /* font-family: "Rubik"; */
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #0079ff;
}
