/* Main CSS File*/

/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: "Work Sans", sans-serif;
    background-color: #f4f8fa;
}
